.mainBackground {
	min-height: 100vh;
	background-color: #ffffff;
}

.backgroundPattern {
	--grid-color: 0, 0%, 97%;

	min-height: 100vh;
	background-image: linear-gradient(hsl(var(--grid-color)) 0.9px, transparent 0.9px),
		linear-gradient(to right, hsl(var(--grid-color)) 0.9px, transparent 0.9px);
	background-size: 38px 38px;
}

.backgroundMesh {
	--color1: 0, 0%, 35%;

	min-height: 100vh;
	background-image: radial-gradient(
			at 5% 5%,
			hsla(var(--color1), 0.15) 0px,
			transparent 25%
		),
		radial-gradient(at 90% 85%, hsla(var(--color1), 0.2) 0px, transparent 15%);
}
